.deals-content-tabs {
  display: flex;
  min-height: 48px;
}

.deals-content-tab {
  flex: 1;
  line-height: 48px;
  text-align: center;
  border-top: 1px solid #f0eff1;
  border-bottom: 1px solid #f0eff1;
  color: #aaa;
  letter-spacing: 0.3px;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.15s ease-in;

  &__active {
    color: #333;
    background-color: #f0eff1;
  }

  &:hover {
    color: #333;
    background-color: #f0eff1;
  }

  &:first-child {
    border-radius: 12px 0 0 12px;
    border-left: 1px solid #f0eff1;
  }

  &:last-child {
    border-radius: 0 12px 12px 0;
    border-right: 1px solid #f0eff1;
  }
}
