.my-responses {
  &_back {
    margin-bottom: 2em;
    color: #8d8d8d;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    cursor: pointer;
  }

  &_company {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: 500;
    color: #3d7efd;
    letter-spacing: 0.2px;
  }

  &_product {
    &-name {
      margin-bottom: 0.4em;
      font-size: 3em;
      font-weight: 600;
      color: #212121;
    }
    &-about {
      margin-bottom: 2em;
      font-size: 1em;
      font-weight: 500;
      color: #333;
      letter-spacing: 0.2px;
    }
    &-amount {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.2px;
      color: #616161;
      span {
        font-size: 20px;
        font-weight: 600;
        padding-left: 0.7em;
        letter-spacing: 0.3px;
        color: #212121;
      }
    }
  }

  &-list {
    list-style: none;
    padding: 2em 1em;
    border-top: 1px solid #ddd;

    &-item {
      margin-bottom: 3em;

      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-body {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }

      &_title {
        margin-bottom: 0.5em;
        font-size: 14px;
        font-weight: 500;
        color: #333;
        letter-spacing: 0.2px;
        text-transform: uppercase;
      }

      &_date {
        margin: 0;
        font-size: 10px;
        font-weight: 500;
        color: #333;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      &_about {
        max-width: 780px;
        margin-bottom: 2em;
        font-size: 12px;
        font-weight: 500;
        color: #8d8d8d;
        letter-spacing: 0.5px;
      }

      &_action {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        color: #3d7efd;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}
