.email-confirmed {
  padding: 10em 0 0;
  h1 {
    margin-bottom: 1em;
    text-align: center;
    font-size: 3em;
    color: #212121;
    font-weight: 500;
  }
  p {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    color: #212121;
    font-weight: 500;
  }
}
