.mypayments {
  &_date-separator {
    margin: 2em 0 1em 2em;
    color: #8d8d8d;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }

  &-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 2em;
  }

  &-tabs {
    display: flex;
    flex-flow: row wrap;
    user-select: none;

    &_item {
      margin: 0;
      padding: 0.5em 1.2em;
      color: #8d8d8d;
      font-size: 1em;
      letter-spacing: 0.3px;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 1em;
      }

      &__active {
        color: #616161;
        background-color: #f0eff1;
        border-radius: 12px;
      }
    }
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;

    &_item {
      border: 1px solid #dddddd;
      width: 100%;
      border-radius: 12px;
      display: flex;
      padding: 34px 32px 32px 32px;
      margin-bottom: 16px;
      justify-content: space-between;
      &-name {
        color: #333333;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        max-width: 416px;
      }
      &-time {
        color: #3d7efd;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 1px;
      }
      &-price {
        color: #212121;
        font-weight: 600;
        line-height: 24px;
        font-size: 20px;
        letter-spacing: 0.3px;
      }
    }

    &-item {
      display: flex;
      flex-flow: row wrap;
      border-radius: 12px;
      border: 1px solid #ddd;

      &:not(:last-child) {
        margin-bottom: 1em;
      }

      &_img {
        width: 156px;
        height: 156px;
        background: #f0eff1;
      }

      &-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 1.5em;
        flex: 1;

        p {
          margin: 0;
        }
      }

      &-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
      }

      &_category {
        font-size: 10px;
        font-weight: 500;
        color: #3d7efd;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      &_name {
        font-size: 1.25em;
        font-weight: 600;
        color: #212121;
        letter-spacing: 0.3px;
      }

      &-country {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        line-height: 3;
        &_flag {
          width: 20px;
          height: 20px;
          margin-right: 0.4em;
          border-radius: 50%;
          object-fit: cover;
        }
        &_name {
          font-size: 12px;
          font-weight: 500;
          color: #333;
          letter-spacing: 0.5px;
        }
      }

      &_price {
        font-size: 1em;
        font-weight: 500;
        color: #333;
        letter-spacing: 0.2px;
      }

      &_setting {
        align-self: flex-end;
        font-size: 0.875em;
        font-weight: 500;
        color: #3d7efd;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}
