.menu {
  display: flex;
  flex-flow: row wrap;
  &_item {
    position: relative;
    color: #212121;
    font-size: 1em;
    padding: 0.25em 0.7em 0.8em;
    text-transform: capitalize;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border: 2px solid transparent;
      border-radius: 2px;
      transition: all 0.12s ease-in;
    }
    &:hover {
      color: #212121;
      text-decoration: none;
      &:after {
        content: "";
        border-color: #3d7efd;
      }
    }
    &__active {
      &:after {
        content: "";
        border-color: #3d7efd;
      }
    }
  }
}

.workspace-menu {
  display: flex;
  flex-flow: row wrap;
  &_item {
    position: relative;
    color: #8d8d8d;
    font-size: 14px;
    position: relative;
    font-weight: 500;
    padding: 0.25em 2em 0.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border: 2px solid transparent;
      border-radius: 2px;
      transition: all 0.12s ease-in;
    }
    &:hover {
      color: #3d7efd;
      text-decoration: none;
      &:after {
        content: "";
        border-color: #3d7efd;
      }
    }
    &__active {
      color: #3d7efd;
      &:after {
        content: "";
        border-color: #3d7efd;
      }
    }
    &__disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
