.login-form_wrapper {
  width: 320px;
  margin: auto;
  margin-top: 5vh;
}
.login-form-wrapper form > a {
  margin-left: 16px;
}

.reset-link {
  font-size: 10px;
}
.signup-caption-container {
  display: flex;
  justify-content: space-between;
}
