.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

@media screen and (max-width: 768px){
  .logo__wrapper, .menu, .header-panel-wrapper{
    width: 100%;
  }
  .logo {
    display: block;
    margin: 10px auto !important;
  }
  .menu{
    justify-content: center;
    &_item{
      font-size: 12px;
    }
  }
  .header-panel-wrapper{
    margin: 15px auto;
  }
  .main-about{
    padding: 5em 0 !important;
  }
}